div{
	font-size: 25px;
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 15px;
}
button{
	background-color: blue;
	border: none;
	color: white;
	padding: 20px;
	text-align: center;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	border-radius: 8px;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#hover:hover{
	background-color: white;
	color: blue;
	border: 2px solid blue;
}
.menu_h{
	width: 150px;
}