p{
	border: 2px solid black;
	background: orange;
	display: block;
	/*display: inline-block;*/
	/*display: inline; */
}
p#ghostt{
	display: none;
}
.padre{
	width: 250px;
	height: 800px;
	background: orange;
	margin: 25px;
}
/*
Z index es un simil a las capaz en photoshop
}*/
.hijo2{
	width: 100px;
	height: 100px;
	background: lime;
	float: right;
}
.hijo1{
	width: 50px;
	height: 50px;
	background: red;
	display: inline-block;
}
.hijo3{
	width: 50px;
	height: 50px;
	background: blue;
	/*display: inline-block;*/
	clear: both;
}
