body{
	color: #0189C1;
	font-style: italic;
	font-weight: normal;
	height: 59px;
	width: 100px;
}
/* 	Ctrl + F9 
   	Acomoda en orden todos los elementos
	
	Ctrl + N
	Abre nva pestaña

	Ctrl + W
	Cierra la pestaña

	Ctrl + avpág   y   Ctrl + repag
	Se navega entre las distintas pestañas

*/